body{
    
}

.box{
    display: inline-block;
    border: 1px solid #cccccc;
    padding: 8px;
    width: 32px;
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: center;
    border-radius: 4px;
}

.selected{
    background: orange;
}

.table-style{
    border: 1px solid #dddddd;
    text-align: left;
    margin: 0;
}

.table-style td, .table-style th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.table-style th{
    background: #efefef;
}