/* 
Utility for font google sans
*/

.p-sans-regular{
    font-family: "Google Sans", sans-serif;
}

body{
    margin: 0px;
}
a{
    color: red;
}

.bg-grey{
    background: #cccccc;
}

nav{
    background: #0c6ad6;
    color: white;
}

.container{
    padding: 16px;
    width: 1200px;
    margin: 0 auto;
}

.link-putih{
    color: white;
    padding: 8px;
}

.pesan span{
    background: blue;
    color: white;
    border-radius: 20px;
    padding: 4px 8px;
    font-size: 10px;
}