/* 
Utility for font google sans
*/

.p-sans-regular{
    font-family: "Google Sans", sans-serif;
}

body{
    margin: 0px;
}
a{
    color: red;
}

.bg-grey{
    background: #cccccc;
}

nav{
    background: #1A2D43;
    color: white;
}

.container{
    padding: 16px;
    width: 1200px;
    margin: 0 auto;
}

.link-putih{
    color: white;
    padding: 8px;
}